In [ ]:
!pip install scikit-learn==1.5.2

In [1]:
import pandas as pd

housing_data = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')

In [3]:
housing_data.info(),housing_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20000 non-null  int64
 1   date           20000 non-null  object
 2   bedrooms       20000 non-null  int64
 3   bathrooms      20000 non-null  float64
 4   sqft_living    20000 non-null  int64
 5   sqft_lot       20000 non-null  int64
 6   floors         20000 non-null  float64
 7   waterfront     20000 non-null  int64
 8   view           20000 non-null  int64
 9   condition      20000 non-null  int64
 10  grade          20000 non-null  int64
 11  sqft_above     20000 non-null  int64
 12  sqft_basement  20000 non-null  int64
 13  yr_built       20000 non-null  int64
 14  yr_renovated   20000 non-null  int64
 15  zipcode        20000 non-null  int64
 16  lat            20000 non-null  float64
 17  long           20000 non-null  float64
 18  sqft_living15  20000 non-null  int64
 19  sqft_lot15     20000 non-null  int64
 20  price          20000 non-null  float64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.2+ MB

(None,
            id             date  bedrooms  bathrooms  sqft_living  sqft_lot  \
 0  1565930130  20141104T000000         4       3.25         3760      4675
 1  3279000420  20150115T000000         3       1.75         1460      7800
 2   194000575  20141014T000000         4       1.00         1340      5800
 3  2115510160  20141208T000000         3       1.75         1440      8050
 4  7522500005  20140815T000000         2       1.50         1780      4750

    floors  waterfront  view  condition  ...  sqft_above  sqft_basement  \
 0     2.0           0     0          3  ...        2740           1020
 1     1.0           0     0          2  ...        1040            420
 2     1.5           0     2          3  ...        1340              0
 3     1.0           0     0          3  ...        1440              0
 4     1.0           0     0          4  ...        1080            700

    yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
 0      2007             0    98038  47.3862 -122.048           3280
 1      1979             0    98023  47.3035 -122.382           1310
 2      1914             0    98116  47.5658 -122.389           1900
 3      1985             0    98023  47.3187 -122.390           1790
 4      1947             0    98117  47.6859 -122.395           1690

    sqft_lot15     price
 0        4033  429900.0
 1        7865  233000.0
 2        5800  455000.0
 3        7488  258950.0
 4        5962  555000.0

 [5 rows x 21 columns])